body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: calc(100vh - 100px); 
    margin-top: 10px;
}

.sidebar {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

.left-sidebar {
    background-color: #a0b4c5;
    border-right: 1px solid #ccc;
}

.right-sidebar {
    background-color: #91b2c5;
    border-left: 1px solid #ccc;
  
}

.main-content {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    overflow-y: auto;
    background-image: url(image/victor.jpg);
    color: white;
}
